HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/resources/
!**/src/main/java/com/misobuild/auth
!**/src/main/java/com/misobuild/config
!**/src/main/java/com/misobuild/domain
!**/src/main/java/com/misobuild/dto
!**/src/main/java/com/misobuild/exception
!**/src/main/java/com/misobuild/utils

### Test ###
testDB.mv.db
testDB.trace.db
testDB.lock.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
